.bannerSwiper {
  width: 100%;
  height: 100%;
}

.bannerSwiper swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerSwiper swiper-slide > div {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px 96px;
}

.swiper-slide-1 {
  background-image: url("/images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.swiper-slide-2 {
  background-image: url("/images/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.swiper-slide-3 {
  background-image: url("/images/slider3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.banner-content h2,
.banner-content h1,
.banner-content p,
.banner-content button {
  margin-right: -900px;
  opacity: 0;
}

.banner-content-active h2,
.banner-content-active h1,
.banner-content-active p,
.banner-content-active button {
  margin-right: 0px;
  opacity: 1;
}

.banner-content-active h2 {
  transition: all 0.7s ease;
}
.banner-content-active h1 {
  transition: all 1s ease;
}
.banner-content-active p {
  transition: all 1.1s ease;
}
.banner-content-active button {
  transition: all 1s ease;
}

@media (max-width: 500px) {
  .bannerSwiper swiper-slide > div {
    padding: 0px 16px;
  }
  .swiper-slide-1 {
    background-size: auto;
    background-position: right;
  }
  .swiper-slide-2 {
    background-size: auto;
    background-position: right;
  }
  .swiper-slide-3 {
    background-size: auto;
    background-position: right;
  }
}